/* add your styling and layout CSS here */

html, body {
    margin: 0;
    padding: 0;
    font-family: "Times New Roman", Times, serif;
}

nav.navbar {
    margin-bottom: 20px;
    font-family: Verdana, sans-serif;
    font-size: 0.9rem;
}

.navbar-item img {
    padding: 1px;
}

#sudoku{
    display: flex;
    justify-content: center; /* centers them horizontally in the page */
    align-items: flex-start; /* top-aligns the items */
    gap: 20px;               /* space between the board and button */
    margin-top: 20px;
}

#boardPalette {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#board {
    margin-bottom: 20px;
}

.resetButton {
    background-color: #555;
    color: #fff;
    padding: 10px 15px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 1rem;
    height: fit-content;
    border-radius: 10rem;
}

.resetButton:hover {
    background-color: #666;
}

#board {
    border-collapse: collapse;
    margin-bottom: 20px;
}

#board td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #000;
}

#board tr:nth-child(3n) td {
    border-bottom: 2px solid #000;
}


#board td:nth-child(3n) {
    border-right: 2px solid #000;
}


#board tr:first-child td {
    border-top: 2px solid #000;
}

#board td:first-child {
    border-left: 2px solid #000;
}

#palette {
    border-collapse: collapse;
}

#palette td {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 1.5em;
    border: 1px solid #000;
    cursor: pointer;
}

#undobutton{
    width: 15px;
    height: 15px;
}

#board td:hover,
#palette td:hover {
    background-color: #f5dd90;
}

.user-input {
    background-color: #f2f2f2;
}

.error {
    background-color: #f76c5e;
}
